<div class="container mt-4">
    <h2>Subroutines</h2>
    <ul>
        <li><a asp-action="Factorial">Factorial calculation</a></li>
        <li><a asp-action="Prime">Prime number check</a></li>
        <li><a asp-action="Temperature">Temperature converter</a></li>
    </ul>
</div>
